.button1{
    display: flex;
    margin-top: 5px;
    width: 158px;
    height: 42px;
    justify-content: center;
    align-items: center;
 background: rgba(255, 255, 255, 0.08);
  backdrop-filter: 
    blur(24px)
    saturate(180%)
    brightness(1.15)
    contrast(1.1);
  -webkit-backdrop-filter: 
    blur(24px)
    saturate(180%)
    brightness(1.15)
    contrast(1.1);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.35),
    0 8px 40px rgba(0, 0, 0, 0.25);
}
.buttontext{
    color: #FFF;
    font-family: "abr";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}