.ndiv{
    display: flex;
width: 267px;
flex-direction: column;
align-items: center;
gap: 23px;
}
.numbertext{
    color: #FFF;
text-align: center;
font-family:'watt';
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.numberp{
    color: #FFF;
font-family: 'kar';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
text-align: center;
}