:root {
  /* Default (Dark Mode) */
  --black: #000000;
  --text: #ffffff;
  --gold: #CCC269; /* gold */
  --overlay: rgba(0, 0, 0, 0.65);
  --border: #ccc;
  --border-focus: #ffffff;
  --line-gradient-end:linear-gradient(90deg, #FFF 0%, #6C6868 81.25%);
  --line2-gradient-end:linear-gradient(180deg, #FFF 0%, #464646 100%);
  --grey: #C3C3C3;
  --title:#C7C7C7;
}

/* Light Mode */
[data-theme="light"] {
  --black: #ffffff;
  --text: #000000;
  --gold: #CCC269; /* keep same gold */
  --overlay: rgba(0, 0, 0, 0.15); /* lighter overlay */
  --border: #888;
  --border-focus: #000;
  --line-gradient-start: #000000;
  --line-gradient-end: #999999;
  --line2-gradient-end: #666666;
  --title: #000000;
  
}
.scrolldiv{
    display: flex;
width: 88px;
flex-direction: column;
align-items: center;
gap: 6px;
align-self: flex-end;
display: flex;
}
.scrollicon{
    width: 22.793px;
height: 52.825px;
background-image: url(../../assets/scroll.png);
}
.scrolltext{
    color:var(--border-focus);
font-family: 'watt';
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.scrolldiv {
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.scrolldiv:hover {
  transform: translateY(6px);
  opacity: 0.8;
}