:root {
  /* Default (Dark Mode) */
  --black: #000000;
  --text: #ffffff;
  --gold: #CCC269; /* gold */
  --overlay: rgba(0, 0, 0, 0.65);
  --border: #ccc;
  --border-focus: #ffffff;
  --line-gradient-end:linear-gradient(90deg, #FFF 0%, #6C6868 81.25%);
  --line2-gradient-end:linear-gradient(180deg, #FFF 0%, #464646 100%);
  --grey: #C3C3C3;
  --title:#C7C7C7;
}

/* Light Mode */
[data-theme="light"] {
  --black: #ffffff;
  --text: #000000;
  --gold: #CCC269; /* keep same gold */
  --overlay: rgba(0, 0, 0, 0.15); /* lighter overlay */
  --border: #888;
  --border-focus: #000;
  --line-gradient-start: #000000;
  --line-gradient-end: #999999;
  --line2-gradient-end: #666666;
  --title: #000000;
  
}
.team-card {
  position: relative;
  width: 320px;
  height: 571px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 12px;
}


/* Overlay */
.overlay {
  position: absolute;
  inset: 0;
  background:var(--overlay);
  color: var(--border-focus);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 24px;
  opacity: 0;
  transition: 0.4s ease;
}

/* Hover effect */
.team-card:hover .overlay {
  opacity: 1;
}

/* Text styling */
.teamtext {
  font-size: 22px;
  margin-bottom: 6px;
}

.teamp {
  font-size: 16px;
  opacity: 0.9;
}

.overlay span {
  font-size: 14px;
  opacity: 0.7;
}