:root {
  /* Default (Dark Mode) */
  --black: #000000;
  --text: #ffffff;
  --gold: #CCC269; /* gold */
  --overlay: rgba(0, 0, 0, 0.65);
  --border: #ccc;
  --border-focus: #ffffff;
  --line-gradient-end:linear-gradient(90deg, #FFF 0%, #6C6868 81.25%);
  --line2-gradient-end:linear-gradient(180deg, #FFF 0%, #464646 100%);
  --grey: #C3C3C3;
}

/* Light Mode */
[data-theme="light"] {
  --black: #ffffff;
  --text: #000000;
  --gold: #CCC269; /* keep same gold */
  --overlay: rgba(0, 0, 0, 0.15); /* lighter overlay */
  --border: #888;
  --border-focus: #000;
  --line-gradient-start: #000000;
  --line-gradient-end: #999999;
  --line2-gradient-end: #666666;
}
.footer {
  background-color: var(--black);
  color: var(--border-focus);
  padding: 60px 20px 30px;
  font-family: 'watt', sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-about,
.footer-links,
.footer-contact {
  flex: 1 1 220px;
}

.footer-about h3 {
  font-size: 48px;
  margin-bottom: 15px;
}

.footer-about p {
  font-size: 16px;
  line-height: 1.6;
}
.logo {
  color:var(--border-focus);
  font-family: 'kata';
  font-style: normal;
  font-weight: 400;
  width: 91px;

  display: flex;
  flex-direction: column;

  line-height: 0.9;   /* KEY */
}
.footer-links h4,
.footer-contact h4, h4 {
  font-family: 'abr';
  font-size: 18px;
  margin-bottom: 12px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 10px;
}

.footer-links ul li a {
  color: var(--border-focus);
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links ul li a:hover {
  color: var(--gold ); 
}



.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 14px;
  opacity: 0.7;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer-about,
  .footer-links,
  .footer-contact,
  .footer-social {
    text-align: center;
  }
}