/* ===================== FONTS ===================== */
@font-face {
    font-family: 'kata';
    src: url(../fonts/Katibeh-Regular.ttf);
}
@font-face {
    font-family: 'abr';
    src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: 'watt';
    src: url(../fonts/Watterlen-2vY0e.otf);
}
@font-face {
    font-family: 'kar';
    src: url(../fonts/Karma-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: auto;    
    overflow-x: hidden;
    overflow-y: auto;  
    scroll-behavior: smooth; 
    background-color: black;
    font-family: 'watt', sans-serif;
}

.s1 {
  position: relative;  /* stacking context */
  width: 100vw;

}

.backgroundimg {
  position: absolute;
  top: 0;
  right: 0;
 width: 597px;
height: 850px;
aspect-ratio: 59/84;      /* fill section */
  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  z-index: 0;           /* behind content */
}

.circle, .div1 {
  position: relative;    /* above background */
  z-index: 1;
}

.circle {
    width: 437px;
    height: 437px;
    border-radius: 50%;
    background: rgba(217, 217, 217, 0.28);
    filter: blur(172px);
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 0;
}

.div1 {
    width: 608px;
    height: 610px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 180px;
    z-index: 2;
}





.s2 {
    width: 100%;
    min-height: 921px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.s2div{
    display: flex;
width: 1062px;
height: auto;
flex-direction: column;
align-items: center;
gap: 72px;

}
.s2div2{
    display: flex;
align-items: center;
gap: 98px;
align-self: stretch;
}
.div3{
    display: flex;
width: 638px;
flex-direction: column;
align-items: flex-start;
gap: 35px;
}
.line{
    width: 512px;
height: 1px;
background: linear-gradient(90deg, #FFF 0%, #6C6868 81.25%);
}
p{
    color: #FFF;
font-family:'kar';
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 186%; /* 37.2px */
}
.p2{
font-size: 16px;
}
.p2 {
    display: block;      /* forces it onto a new line */
    margin-top: 16px;    /* optional spacing from the first span */
}
.photo{
    width: 326px;
height: 428px;
background-image: url(../assets/Frame\ 5.png);
}
.numberdiv{
    display: flex;
align-items: center;
gap: 100px;
flex-direction: row;
}