@font-face {
    font-family: 'kata';
    src: url(../fonts/Katibeh-Regular.ttf);
}
@font-face {
    font-family: 'abr';
    src: url(../fonts/AbrilFatface-Regular.ttf);
}
@font-face {
    font-family: 'watt';
    src: url(../fonts/Watterlen-2vY0e.otf);
}
*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;

    
}


.s1{
    width: 100vw;
height: 850px;
background-color: rgb(0, 0, 0);
margin-top: 0;
position: relative;
z-index: -11;
}
.circle{
  width: 437px;
  height: 437px;
  border-radius: 437px;
  background: rgba(217, 217, 217, 0.28);
  filter: blur(172px);
  display: flex;
margin-top: 10%;
margin-left: 35%;
position: absolute;
}
.div1{
    width: 608px;
    height: 609.956px;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 180px;
}
.title{
    color: #C7C7C7;
font-family: 'watt';
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 455px;
}
.gold{
    color: #CCC269;
}
.backgroundimg{
    width: 597px;
    height: 850px;
    aspect-ratio: 59/84;
    position: absolute;
    top: 0;
    z-index: -1;
    right: 0;
    background-image: url(../assets/background.png);
}